@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

body {
  background-color: #121212;
  font-family: "Poppins", serif;
}

.secondary-font {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 600;
}
